.WrapperPage footer .footerContent, .WrapperPage footer, .WrapperPage .contactUs form .btn, .WrapperPage .contactUs, .WrapperPage .reviews .reviewWrapper .slider .sliderItemActive, .WrapperPage .reviews .reviewWrapper, .WrapperPage .reviews, .WrapperPage .about, .WrapperPage main .mainLogo, .WrapperPage main, .WrapperPage header .logo, .WrapperPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.WrapperPage footer .footerContent .socialBlock, .WrapperPage .reviews .reviewWrapper .sliderControls .indecators, .WrapperPage .reviews .reviewWrapper .sliderControls, .WrapperPage header nav, .WrapperPage header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.WrapperPage .contactUs .bgrnTitle, .WrapperPage .about .bgrnTitle {
  position: relative;
  font-size: 4.5vw;
  font-weight: bold;
  line-height: 97%;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: #F4F9FC;
  padding: 0 0 7.7vh;
  z-index: 6;
}

.WrapperPage .contactUs .bgrnTitle h1, .WrapperPage .about .bgrnTitle h1 {
  position: absolute;
  top: 2.5vw;
  font-weight: bold;
  font-size: 2.5vw;
  line-height: 87%;
  text-transform: uppercase;
  color: #5DADE2;
  width: 100%;
  text-align: center;
  z-index: 4;
}

@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
* {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.WrapperPage {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background: #FFFFFF;
}
.WrapperPage header {
  width: 100%;
  height: 5.5vw;
  padding: 0 2.6%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 20px rgba(177, 177, 177, 0.4);
          box-shadow: 0px 5px 20px rgba(177, 177, 177, 0.4);
  top: 0;
  z-index: 15;
}
.WrapperPage header #navMobile {
  display: none;
}
.WrapperPage header #closeBtn {
  display: none;
}
.WrapperPage header .logo img {
  height: 2.8vw;
}
.WrapperPage header nav {
  width: 47%;
}
.WrapperPage header nav a {
  text-decoration: none;
  font-style: normal;
  font-size: 0.8vw;
  line-height: 24px;
  color: black;
}
.WrapperPage header nav a:hover {
  font-weight: bold;
  color: #5DADE2;
  text-decoration: underline;
}
.WrapperPage main {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 90vh;
  background-image: url("../images/backgrounds/backgroundMain.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.WrapperPage main .mainLogo {
  height: 15.4vw;
}
.WrapperPage main .mainLogo .mainLogoImg {
  height: 7.8vw;
  width: auto;
}
.WrapperPage main .mainLogo .mainLogoTitle {
  height: 4.2vw;
  width: auto;
}
.WrapperPage .about {
  width: 60%;
  position: relative;
  background: #FFFFFF;
  z-index: 3;
  padding-top: 17vh;
}
.WrapperPage .about .aboutContentWrap {
  text-align: center;
}
.WrapperPage .about .aboutContentWrap h4 {
  padding-bottom: 2vh;
  font-size: 0.92vw;
  font-weight: bold;
}
.WrapperPage .about .aboutContentWrap h4 span {
  text-decoration: underline;
  font-weight: bold;
}
.WrapperPage .about .aboutContentWrap p {
  font-size: 0.92vw;
  line-height: 167%;
  text-align: center;
  color: #202020;
}
.WrapperPage .about .aboutContentWrap .cardsBlock {
  padding-top: 6vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2% 1fr 2% 1fr 2% 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2%;
}
.WrapperPage .about .aboutContentWrap .card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(192, 192, 192, 0.25);
          box-shadow: 0px 4px 20px rgba(192, 192, 192, 0.25);
  border-radius: 10px;
  padding: 10% 5.5%;
}
.WrapperPage .about .aboutContentWrap .card h2 {
  padding-bottom: 2.8vh;
  font-weight: bold;
  font-size: 3vw;
  line-height: 75%;
  text-transform: capitalize;
  color: #2874A6;
}
.WrapperPage .about .aboutContentWrap .card p {
  font-size: 0.8vw;
  line-height: 144%;
  color: #202020;
}
.WrapperPage .about .aboutContentWrap .talk {
  padding: 6vh 0 14.8vh;
  font-size: 0.92vw;
}
.WrapperPage .reviews {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7%;
  width: 100%;
  height: 50vw;
  background: #FBFBFB;
  position: relative;
  -webkit-box-shadow: inset -1px 19px 20px -17px rgba(208, 208, 208, 0.25);
          box-shadow: inset -1px 19px 20px -17px rgba(208, 208, 208, 0.25);
}
.WrapperPage .reviews .aboutLogo {
  border-radius: 50%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 7px 0px rgba(208, 208, 208, 0.25);
          box-shadow: 0px 8px 7px 0px rgba(208, 208, 208, 0.25);
  position: absolute;
  top: 0;
  margin-top: -4.8%;
  width: 8.4vw;
  z-index: 5;
  background: #FFFFFF;
  padding: 2.5vw;
}
.WrapperPage .reviews .reviewWrapper {
  width: 61vw;
  min-height: 35vw;
  background: #5DADE2;
  border-radius: 10px;
  padding: 6.7vw;
  position: relative;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.WrapperPage .reviews .reviewWrapper .signs {
  position: absolute;
  top: 0;
  left: 46.5%;
  margin-top: -2%;
}
.WrapperPage .reviews .reviewWrapper .signs img {
  width: 4.7vw;
}
.WrapperPage .reviews .reviewWrapper .slider {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px #438BBB;
          box-shadow: 0px 0px 20px #438BBB;
  border-radius: 10px;
}
.WrapperPage .reviews .reviewWrapper .slider .sliderItem {
  display: none;
}
.WrapperPage .reviews .reviewWrapper .slider .sliderItemActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2vw 5vw;
  height: 100%;
}
.WrapperPage .reviews .reviewWrapper .slider .sliderItemActive .topContent h3 {
  text-transform: uppercase;
  color: #2874A6;
  font-weight: bolder;
  font-size: 1vw;
}
.WrapperPage .reviews .reviewWrapper .slider .sliderItemActive .topContent p {
  line-height: 160%;
  font-size: 1.2vw;
}
.WrapperPage .reviews .reviewWrapper .slider .sliderItemActive .line {
  width: 13.6vw;
  height: 2px;
  background: #2874A6;
  border-radius: 1px;
  margin: 1.6vw;
}
.WrapperPage .reviews .reviewWrapper .slider .sliderItemActive .text {
  font-style: italic;
  font-weight: bold;
  font-size: 0.98vw;
  line-height: 178%;
  color: #202020;
}
.WrapperPage .reviews .reviewWrapper .sliderControls {
  width: 22%;
  max-width: 252px;
  position: absolute;
  bottom: 2.3vw;
}
.WrapperPage .reviews .reviewWrapper .sliderControls #btnLeft {
  width: 1.1vw;
  max-width: 25px;
  height: 1.1vw;
  max-height: 25px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.WrapperPage .reviews .reviewWrapper .sliderControls #btnLeft:hover {
  cursor: pointer;
}
.WrapperPage .reviews .reviewWrapper .sliderControls .indecators {
  width: 70%;
}
.WrapperPage .reviews .reviewWrapper .sliderControls .indecators .indecatorSlide {
  width: 1.15vw;
  max-height: 9px;
  max-width: 26px;
  height: 0.47vw;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}
.WrapperPage .reviews .reviewWrapper .sliderControls .indecators .activeIndecator {
  background-color: #FFFFFF;
  width: 1.15vw;
  max-height: 9px;
  max-width: 26px;
  height: 0.47vw;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
}
.WrapperPage .reviews .reviewWrapper .sliderControls #btnRight {
  width: 1.1vw;
  max-width: 25px;
  height: 1.1vw;
  max-height: 25px;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.WrapperPage .reviews .reviewWrapper .sliderControls #btnRight:hover {
  cursor: pointer;
}
.WrapperPage .contactUs {
  padding: 6.7vw;
}
.WrapperPage .contactUs form {
  width: 61vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 4vw 0.8vw;
      grid-template-areas: "name email" "phone company" "message message" "btn btn";
}
.WrapperPage .contactUs form input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  background-position: 0 center;
  background-repeat: no-repeat;
  padding-left: 20px;
  border-bottom: 1px solid #2874A6;
  outline: none;
  font-size: 16px;
}
.WrapperPage .contactUs form input:focus::-webkit-input-placeholder {
  text-indent: 2000px;
  -webkit-transition: text-indent 0.6s ease;
  transition: text-indent 0.6s ease;
}
.WrapperPage .contactUs form .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
  background-image: url(../images/icons/nameIcon.png);
  background-size: contain no-repeat;
}
.WrapperPage .contactUs form .phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: phone;
  background-image: url(../images/icons/phoneIcon.png);
}
.WrapperPage .contactUs form .email {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: email;
  background-image: url(../images/icons/emailIcon.png);
}
.WrapperPage .contactUs form .company {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: company;
  background-image: url(../images/icons/companyIcon.png);
}
.WrapperPage .contactUs form .message {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: message;
  background-image: url(../images/icons/messageIcon.png);
}
.WrapperPage .contactUs form .btn {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: btn;
  padding: 3.4vw 0 6.8vw;
}
.WrapperPage .contactUs form input[type=submit] {
  padding: 0;
  background: #5DADE2;
  -webkit-box-shadow: 0px 4px 10px rgba(55, 123, 169, 0.3);
          box-shadow: 0px 4px 10px rgba(55, 123, 169, 0.3);
  border-radius: 10px;
  width: 11vw;
  height: 3.5vw;
  border: none;
  font-weight: bold;
  font-size: 1.2vw;
  line-height: 106%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.WrapperPage .contactUs form input[type=submit]:hover {
  cursor: pointer;
}
.WrapperPage footer {
  padding-top: 4.17vw;
  width: 100%;
  height: 26.5vw;
  max-height: 509px;
  background-image: url(../images/backgrounds/backgroundFooter.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  color: #FFFFFF;
}
.WrapperPage footer:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 79, 114, 0.75);
}
.WrapperPage footer .logoFooter img {
  position: relative;
  z-index: 7;
  height: 74px;
}
.WrapperPage footer .footerContent {
  height: 7.3vw;
}
.WrapperPage footer .footerContent .footerAddressBlock {
  position: relative;
  z-index: 7;
  text-align: center;
}
.WrapperPage footer .footerContent .footerAddressBlock p {
  font-size: 1.2vw;
  line-height: 190%;
}
.WrapperPage footer .footerContent .socialBlock {
  width: 5.7vw;
}
.WrapperPage footer .footerContent .socialBlock .social {
  position: relative;
  z-index: 7;
}
.WrapperPage footer .footerContent .socialBlock .social img {
  width: 1.3vw;
  height: 1.3vw;
}
.WrapperPage footer .rights {
  position: relative;
  z-index: 7;
  padding-bottom: 1.5vw;
  font-weight: 500;
  font-size: 0.84vw;
  line-height: 156%;
}
@media screen and (min-width: 1920px) {
  .WrapperPage .navItem a {
    font-size: 16px;
  }
  .WrapperPage .logo img {
    height: 53px;
  }
}
@media screen and (max-width: 425px) {
  .WrapperPage header {
    height: 60px;
    padding: 0 16px;
  }
  .WrapperPage header #logo {
    height: 32px;
    width: 107px;
  }
  .WrapperPage header .nav {
    display: none;
  }
  .WrapperPage header #navMobile {
    display: block;
  }
  .WrapperPage main .mainLogo {
    height: 176px;
  }
  .WrapperPage main .mainLogo .mainLogoImg {
    width: 72px;
    height: 82px;
  }
  .WrapperPage main .mainLogo .mainLogoTitle {
    height: 45px;
    width: 99%;
  }
  .WrapperPage .about {
    width: 80%;
  }
  .WrapperPage .about .bgrnTitle {
    font-size: 26px;
  }
  .WrapperPage .about .bgrnTitle h1 {
    font-size: 18px;
    top: 16px;
  }
  .WrapperPage .about .aboutContentWrap h4 {
    font-size: 14px;
  }
  .WrapperPage .about .aboutContentWrap p {
    font-size: 14px;
  }
  .WrapperPage .about .aboutContentWrap .cardsBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 57px;
  }
  .WrapperPage .about .aboutContentWrap .cardsBlock .card {
    width: 285px;
    height: 200px;
    padding: 20px 14px;
    margin-top: 20px;
  }
  .WrapperPage .about .aboutContentWrap .cardsBlock .card h2 {
    font-size: 50px;
  }
  .WrapperPage .about .aboutContentWrap .cardsBlock .card p {
    font-size: 14px;
  }
  .WrapperPage .about .aboutContentWrap .talk {
    display: none;
  }
  .WrapperPage .reviews {
    height: 725px;
  }
  .WrapperPage .reviews .aboutLogo {
    width: 23.67px;
    height: 27px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-top: -6%;
  }
  .WrapperPage .reviews .reviewWrapper {
    height: 548px;
    width: 100%;
    border-radius: 0;
    padding-bottom: 56px;
  }
  .WrapperPage .reviews .reviewWrapper .signs {
    left: 43%;
  }
  .WrapperPage .reviews .reviewWrapper .signs img {
    width: 59px;
    height: 51px;
  }
  .WrapperPage .reviews .reviewWrapper .slider {
    height: 382px;
  }
  .WrapperPage .reviews .reviewWrapper .slider .sliderItemActive {
    padding: 30px 21px;
  }
  .WrapperPage .reviews .reviewWrapper .slider .sliderItemActive .topContent h3 {
    font-size: 16px;
  }
  .WrapperPage .reviews .reviewWrapper .slider .sliderItemActive .topContent p {
    font-size: 16px;
  }
  .WrapperPage .reviews .reviewWrapper .slider .sliderItemActive .line {
    width: 195px;
    margin: 20px 0 15px;
  }
  .WrapperPage .reviews .reviewWrapper .slider .sliderItemActive .text {
    font-size: 3.5vw;
    line-height: 22px;
  }
  .WrapperPage .reviews .reviewWrapper .sliderControls {
    width: 203px;
    bottom: 40px;
  }
  .WrapperPage .reviews .reviewWrapper .sliderControls #btnLeft {
    width: 22px;
    height: 22px;
  }
  .WrapperPage .reviews .reviewWrapper .sliderControls .indecators .indecatorSlide {
    width: 18px;
    height: 7px;
  }
  .WrapperPage .reviews .reviewWrapper .sliderControls .indecators .activeIndecator {
    width: 18px;
    height: 7px;
  }
  .WrapperPage .reviews .reviewWrapper .sliderControls #btnRight {
    width: 22px;
    height: 22px;
  }
  .WrapperPage .contactUs {
    padding: 40px 16px;
    width: 100%;
  }
  .WrapperPage .contactUs .bgrnTitle {
    font-size: 27px;
    padding-bottom: 15px;
  }
  .WrapperPage .contactUs .bgrnTitle h1 {
    font-size: 18px;
    top: 15px;
  }
  .WrapperPage .contactUs form {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .WrapperPage .contactUs form input {
    margin-top: 48px;
    font-size: 14px;
    line-height: 19px;
  }
  .WrapperPage .contactUs form .btn {
    padding: 0;
  }
  .WrapperPage .contactUs form .btn input[type=submit] {
    width: 177px;
    height: 56px;
    font-size: 16px;
    margin-top: 30px;
  }
  .WrapperPage footer {
    height: 407px;
    background-size: auto 100%;
    padding: 30px 30px 20px;
  }
  .WrapperPage footer .logoFooter img {
    width: 90px;
    height: 75px;
  }
  .WrapperPage footer .footerContent {
    height: 164px;
  }
  .WrapperPage footer .footerContent .footerAddressBlock p {
    font-size: 16px;
    line-height: 32px;
  }
  .WrapperPage footer .footerContent .socialBlock {
    width: 138px;
  }
  .WrapperPage footer .footerContent .socialBlock .social img {
    width: 29px;
    height: 29px;
  }
  .WrapperPage footer .rights {
    font-size: 14px;
  }
}